{% extends "layout.html" %}
{% block content %}
<h2>Player Details</h2>
<table class="table">
    <tr>
        <th>Full Name</th>
        <td>{{ player[1] }}</td>
    </tr>
    <tr>
        <th>Nationality</th>
        <td>{{ player[2] }}</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>{{ player[3] }}</td>
    </tr>
    <tr>
        <th>Batting Style</th>
        <td>{{ player[4] }}</td>
    </tr>
    <tr>
        <th>Bowling Style</th>
        <td>{{ player[5] }}</td>
    </tr>
    <tr>
        <th>Total Runs Scored</th>
        <td>{{ player[6] }}</td>
    </tr>
    <tr>
        <th>Total Wickets Taken</th>
        <td>{{ player[7] }}</td>
    </tr>
    <tr>
        <th>Total Catches Taken</th>
        <td>{{ player[8] }}</td>
    </tr>
    <tr>
        <th>Total Matches Played</th>
        <td>{{ player[9] }}</td>
    </tr>
    <tr>
        <th>Total Half Centuries</th>
        <td>{{ player[10] }}</td>
    </tr>
    <tr>
        <th>Total Centuries</th>
        <td>{{ player[11] }}</td>
    </tr>
</table>
{% endblock %}
