{% extends "layout.html" %}
{% block content %}
<h1>Teams</h1>
    <ul>
        {% for team in teams %}
            <li>
                <a href="{{ url_for('team_players', team_id=team[0]) }}">{{ team[1] }}</a>
            </li>
        {% endfor %}
    </ul>
    <table border="1">
        <tr>
            <th>Team Name</th>
            <th>City</th>
            <th>Logo</th>
            <th>Dress Colour</th>
            <th>Link</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team[1] }}</td>
                <td>{{ team[2] }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' ~ team[6]) }}" width="100"></td>
                <td>{{ team[6] }}</td>
                <td><a href="{{ team[7] }}">{{ team[8] }}</a></td>
                
        </tr>
        {% endfor %}
</table>
{% endblock content %} 